<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>785798195005-d8jn0atb88ial86t04oiv9lqehdt8jq4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.785798195005-d8jn0atb88ial86t04oiv9lqehdt8jq4</string>
	<key>API_KEY</key>
	<string>AIzaSyAK8G1GfoEfEe578VZUyUI5BjZFxlzUk4k</string>
	<key>GCM_SENDER_ID</key>
	<string>785798195005</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterPhoenix</string>
	<key>PROJECT_ID</key>
	<string>phoenix-cc-706a1</string>
	<key>STORAGE_BUCKET</key>
	<string>phoenix-cc-706a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785798195005:ios:d156cacbdc6c14ba688754</string>
</dict>
</plist>